/* コンテナ */
div#container {
	width: 720px;
}

/* ヘッダ */
header {
	padding: 25px;
	background-color: black;
	background-image: url(./img/bg_galaxies.jpg);
	background-repeat: no-repeat;
	height: 70px;
	line-height: 1;
}
header h1 {
	font-size: 2em;
	font-family: serif;
	margin: 0;
	padding: 0;
	height: auto;
	background-color: transparent;
	background-image: none;
}
header p {
	color: lightskyblue;
	font-size: 0.8em;
	font-family: sans-serif;
	text-shadow:0px 0px 2px rgba(255,255,0,0,8);
	margin: 4px,0px;
}

/* メニュー */
nav {
	margin-bottom: 30px;
	padding: 0;
	font-size: 0.95em;
}
ul#menu {
	margin: 0;
	padding-left: 0;
	height: 30px;
	background-color: dodgerblue;
}
ul#menu li{
	width: 120px;
	float: left;
	list-style-type: none;
	margin: 0;
}
ul#menu li a {
	display: block;
	background-color: dodgerblue;
	border-right: 1px solid white;
	line-height: 30px;
	font-family: sans-serif;
	text-decoration: none;
	text-align: center;
	color: white;
}
ul#menu a:hover {
	color: white;
	background-color: deepskyblue;
	text-shadow:0px 0px 1px yellow;
}
ul#menu a:active {
	color: orange;
}

/* コンテツ */
section h2 {
	font-size: 1.1em;
	font-family: sans-serif;
}
section img {
	display: block;
	margin: auto;
}
li {
	margin: 5px 0px;
}